th{
    text-align: center;
    color: white;
}
input{
    text-align: center;
    background-color: black;
    color: white;
    border-color: white;
}
tr{
    
        text-align: center;
    
}
td{
    text-align: center;
}